.btn-success:hover{
   background-color: red;
}

h3{
    font-size: 25px;
}

canvas{
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-color: black;
    border-style: solid;
}

@keyframes example{

}